__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.venv/
venv/
.env

src/database.db

resources/json
resources/charts
resources/reports

data/INFLUD25-04-08-2025.csv
data/INFLUD24-26-06-2025.csv
src/analyzer_data.py
test_tools.py
notes.md
dict.pdf
